@*Vue permettant d'afficher le menu*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    @*Icône de l'application*@
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>

@{ 
    var db = new WebApplication1.DAL.ApplicationContext();
}

@*Menu*@
<body>
    @*Si l'utilisateur est connecté, affichage du menu*@
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var user = db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name);
        <div class="wrapper">
            <!-- Sidebar Holder -->

            <nav id="sidebar" 
                 @if (db.Parametres.Find(user.ParametreID).Theme == WebApplication1.Models.Account.Theme.Dark)
                 {
                    <text>class="darkTheme"</text>
                 }>

                @*Div contenant le titre du menu avec le nom de l'application pour l'instant change en fonction de la taille*@

                <ul class="list-unstyled components">
                    <li class="sidebar-header titre" id="sidebarCollapse">
                        <h3>Easy Bill</h3>
                        <strong>EB</strong>
                    </li>
                </ul>

                @*Liste contenant les différents éléments du menu concernant la gestion des données de l'utilisateur*@
                <ul class="list-unstyled components">
                    @*Élément pour afficher le tableau de bord*@
                    @if (!(user.Type == WebApplication1.Models.Account.TypeUtilisateur.EnAttente))
                    {
                        <li>
                            <a href=@Url.Action("Index", "Home")>
                                <i class="fas fa-chart-pie"></i>Tableau de bord
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href=@Url.Action("Attente", "Home")>
                                <i class="glyphicon glyphicon-home"></i>Acceuil
                            </a>
                        </li>
                    }

                    @*Si l'utilisateur est un administrateur, éléments pour la gestion des utilisateurs*@
                    @if (user.Type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || user.Type == WebApplication1.Models.Account.TypeUtilisateur.SA)
                    {
                        <li>
                            <a href=@Url.Action("Index", "Utilisateurs")>
                                <i class="glyphicon glyphicon-user"></i>Utilisateurs
                            </a>
                        </li>
                    }

                    @*Sous-menu pour la gestion des documents (devis / factures)*@
                    @if (!(user.Type == WebApplication1.Models.Account.TypeUtilisateur.EnAttente))
                    {
                        <li>
                            <a href="#papierSubmenu" data-toggle="collapse">
                                <i class="glyphicon glyphicon-file"></i>
                                Documents
                            </a>
                            <ul class="collapse list-unstyled" id="papierSubmenu">
                                <li><a href=@Url.Action("Index", "Devis")>Devis</a></li>
                                <li><a href=@Url.Action("Index", "Factures")>Factures</a></li>
                            </ul>
                        </li>

                        @*Élément pour la gestion des produits*@
                        <li>
                            <a href=@Url.Action("Index", "Produits")>
                                <i class="glyphicon glyphicon-tags"></i>
                                Produits
                            </a>
                        </li>
                    }
                </ul>

                @*Liste contenant les différents éléments du menu concernant les informations de l'application*@
                <ul class="list-unstyled components">

                    @*Si l'utilisateur est un administrateur : élément permettant la gestion des feedbacks reçus*@
                    @if (user.Type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || user.Type == WebApplication1.Models.Account.TypeUtilisateur.SA)
                    {
                        <li>
                            <a href=@Url.Action("Index", "Feedbacks")>
                                <i class="fas fa-comments"></i>
                                Retour utilisateur
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("Newsletter", "Home")>
                                <i class="glyphicon glyphicon-send"></i>
                                Newsletter
                            </a>
                        </li>
                    }
                    @*Élément permettant d'accéder au retour utilisateur (envoi de feedback)*@
                    else
                    {
                        <li>
                            <a href=@Url.Action("Contact", "Home")>
                                <i class="glyphicon glyphicon-send"></i>
                                Retour utilisateur
                            </a>
                        </li>
                    }

                    @*Élément permettant d'accéder à la section "À propos" (informations sur l'application)*@
                    <li>
                        <a href=@Url.Action("About", "Home")>
                            <i class="glyphicon glyphicon-info-sign"></i>
                            A propos
                        </a>
                    </li>

                    @if (!(user.Type == WebApplication1.Models.Account.TypeUtilisateur.EnAttente))
                    {
                        <li>
                            <a href=@Url.Action("Index", "Parametres")>
                                <i class="glyphicon glyphicon-cog"></i>Paramètres
                            </a>
                        </li>
                    }


                </ul>


                @*Liste contenant les différents éléments du menu concernant l'utilisateur*@
                <ul class="list-unstyled userinfo">

                    @*Élément permettant à l'utilisateur d'accéder aux détails de son compte (et sûrement plus tard à ses paramètres)*@
                    <li>
                        <a class="nom" href=@Url.Action("Details", "Utilisateurs", new { id = user.ID.Replace('.', '~') })>
                            @user.Prénom
                        </a>
                    </li>

                    @*Élément permettant à l'utilisateur de se déconnecter*@
                    <li>
                        <a class="btn-primary btn_deco" href=@Url.Action("Deconnexion", "Login")>
                            <span class="glyphicon glyphicon-off"></span> <e>Déconnection</e>
                        </a>
                    </li>
                </ul>
            </nav>
            @if (db.Parametres.Find(user.ParametreID).Theme == WebApplication1.Models.Account.Theme.Clear)
            {
                <div id="content" class="fondGradientGris">
                    <br />
                    @RenderBody()
                </div>
            }
            else
            {
                <div id="content" class="themeDark">
                    <br />
                    @RenderBody()
                </div>
            }



        </div>
    }
    else
    {
        <div class="fondGradientGris">
            @RenderBody()
        </div>
    }


    <!-- jQuery CDN -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });
    </script>
</body>
</html>