<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>

<body class="fondGradientGris">
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Easy Bill</h3>
                    <strong>EB</strong>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href=@Url.Action("Index", "Home")>
                            <i class="glyphicon glyphicon-home"></i>Home
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Utilisateurs", "Index", "Utilisateurs")</li>*@
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Fournisseurs", "Index", "Fournisseurs")</li>
                    <li>@Html.ActionLink("Devis", "Index", "Devis")</li>
                    <li>@Html.ActionLink("Factures", "Index", "Factures")</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Avoirs</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Acomptes</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        <a href=@Url.Action("Deconnexion", "Login")><span class="glyphicon glyphicon-off"></span></a>
                    </li>
                </ul>

            </nav>
            <div id="content">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
                <div class="container body-content ">
                    @RenderBody()
                </div>
                }

                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)

                <!-- jQuery CDN -->
                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <!-- Bootstrap Js CDN -->
                <script src="~/Scripts/bootstrap.min.js"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#sidebarCollapse').on('click', function () {
                            $('#sidebar').toggleClass('active');
                        });
                    });
                </script>
    </body>

</html>