<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>

<body class="fondGradientGris">
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Easy Bill</h3>
                    <strong>EB</strong>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href=@Url.Action("Index", "Home")>
                            <i class="glyphicon glyphicon-home"></i>Accueil
                        </a>
                    </li>

                    @{
                        var db = new WebApplication1.DAL.ApplicationContext();
                        if (db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type == 0)
                        {
                            <li>
                                <a href=@Url.Action("Index", "Utilisateurs")>
                                    <i class="glyphicon glyphicon-star"></i>Utilisateurs
                                </a>
                            </li>
                            }

                        }

                    @*<li>
                        <a href="#entrepriseSubmenu" data-toggle="collapse">
                            <i class="glyphicon glyphicon-user"></i>
                            Entreprises
                        </a>
                        <ul class="collapse list-unstyled" id="entrepriseSubmenu">
                            <li><a href=@Url.Action("Index", "Clients")>Clients</a></li>
                            <li><a href=@Url.Action("Index", "Fournisseurs")>Fournisseurs</a></li>
                        </ul>
                    </li>*@

                    <li>
                        <a href="#papierSubmenu" data-toggle="collapse">
                            <i class="glyphicon glyphicon-file"></i>
                            Documents
                        </a>
                        <ul class="collapse list-unstyled" id="papierSubmenu">
                            <li><a href=@Url.Action("Index", "Devis")>Devis</a></li>
                            <li><a href=@Url.Action("Index", "Factures")>Factures</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href=@Url.Action("Index", "Produits")>
                            <i class="glyphicon glyphicon-tags"></i>
                            Produits
                        </a>
                    </li>

                </ul>

                <ul class="list-unstyled components">
                    @if (db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type == WebApplication1.Models.Compte.TypeUtilisateur.Enregistré)
                    {
                        <li>
                            <a href=@Url.Action("Contact", "Home")>
                                <i class="glyphicon glyphicon-send"></i>
                                Contact
                            </a>
                        </li>
                    }
                    @if (db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type == WebApplication1.Models.Compte.TypeUtilisateur.Enregistré)
                    {
                    <li>
                        <a href=@Url.Action("Feedbacks", "Home")>
                            <i class="glyphicon glyphicon-send"></i>
                            Feedback
                        </a>
                    </li>
                    }
                    <li>
                        <a href=@Url.Action("About", "Home")>
                            <i class="glyphicon glyphicon-info-sign"></i>
                            A propos
                        </a>
                    </li>
                    @if (db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type == 0)
                    {
                    <li>
                        <a href=@Url.Action("Index", "Feedbacks")>
                            <i class="glyphicon glyphicon-envelope"></i>
                            Feedbacks
                        </a>
                    </li>
                    }
                 </ul>

                <ul class="list-unstyled userinfo">
                    <li>
                        <a class="nom" href=@Url.Action("Details", "Utilisateurs", new { id = System.Web.HttpContext.Current.User.Identity.Name })>
                            @db.ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Nom
                        </a>
                    </li>
                    <li>
                        <a class="btn-primary btn_deco" href=@Url.Action("Deconnexion", "Login")>
                            <span class="glyphicon glyphicon-off"></span> <e>Déconnection</e>
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="content">
                <div class="navbar-header" style="margin: 10px;">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </button>
                </div>
                <br />
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div>
            @RenderBody()
        </div>
    }

    @*@Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

    <!-- jQuery CDN -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });
    </script>
</body>
</html>