@*Vue permettant de créer un devis*@
@model WebApplication1.ViewModels.DevisProduitViewModel

@{
    ViewBag.Title = "Create";
}

@*Formulaire permettant de remplir les champs avant de créer le devis*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @*Chemin de retour*@
    <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
        <li class="breadcrumb-item">
            <a href=@Url.Action("Index","Devis")>Liste devis</a>
        </li>
        <li class="breadcrumb-item active">Créer devis</li>
    </ul>

    //titre de la partie
    <h2 class="titreCRUD">Créer un devis</h2>
    <hr class="separer" />
    <br />

    <div class="col-md-12">
        <div class="form-horizontal">
            <h3>Informations règlement:</h3>
            <hr />
            @*Div permettant de remplir l'objet du devis*@
            <div class="form-group">
                @Html.LabelFor(model => model.Devis.Objet)
                @Html.EditorFor(model => model.Devis.Objet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Devis.Objet, "", new { @class = "text-danger" })
            </div>

            @*Div permettant de définir la monnaie du devis*@
            <div class="form-group">
                @Html.LabelFor(model => model.Devis.Monnaie)
                @Html.EnumDropDownListFor(model => model.Devis.Monnaie, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Devis.Monnaie, "", new { @class = "text-danger" })
            </div>

            @*Div permettant d'ajouter un commentaire au devis*@
            <div class="form-group">
                @Html.LabelFor(model => model.Devis.Commentaire)<br />
                @Html.TextAreaFor(model => model.Devis.Commentaire, new { @class = "form-control textAreaCSS" })
                @Html.ValidationMessageFor(model => model.Devis.Commentaire, "", new { @class = "text-danger" })
            </div>

            <br />
            <h3>Informations articles:</h3>
            <hr />

            @*Div permettant de sélectionner les produits à ajouter au devis ainsi que définir la quantité voulue*@
            <div class="form-group col-md-12">
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select class="form-control">
                            <option>Selectionnez un produit</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        @foreach (var item in Model.Produits)
                        {
                            <label>
                                <input type="checkbox" onclick="toggleArticle('@item.Text')" />@item.Text
                            </label>
                        }
                    </div>
                </div>

                <div id="articles" class="col-md-6"></div>
            </div>
            <br />

            @*Bouton permettant de valider la création du devis*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" value="Create" class="button button-green">Créer</button>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="~/Scripts/Site.js"></script>
