@*Vue permettant de supprimer un devis*@
@model WebApplication1.Models.Papiers.Devis
@{
    ViewBag.Title = "Delete";
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index","Devis")>Liste devis</a>
    </li>
    <li class="breadcrumb-item active">Supprimer devis</li>
</ul>

<h3>Voulez-vous supprimer ce devis ?</h3>
@*Div permettant d'afficher les détails avant de le supprimer*@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Objet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valide)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monnaie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monnaie)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.EntrepriseID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EntrepriseID)
            </dd>*@
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        //Bouton permettant de valider la suppression du produit
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }
</div>
