@model WebApplication1.Models.Papiers.Devis

@{
    ViewBag.Title = "Details";
}

<br />
<p>
    <a href=@Url.Action("Index","Devis") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>

    <a href=@Url.Action("Edit","Devis",new { id = Model.ID }) class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pencil" />
    </a>
</p>

<div class="py-5">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                <p class="lead">Client : @Html.DisplayFor(model => model.EntrepriseID)</p>
            </div>*@
            <div class="col-md-6">
                <p class="lead">Objet : @Html.DisplayFor(model => model.Objet)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Date : @Html.DisplayFor(model => model.Date)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Validité : @Html.DisplayFor(model => model.Valide)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Commentaire : @Html.DisplayFor(model => model.Commentaire)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Monnaie : @Html.DisplayFor(model => model.Monnaie)</p>
            </div>
        </div>
    </div>
</div>
