@*Vue permettant d'afficher les détails d'un devis*@
@model WebApplication1.ViewModels.DevisProduitViewModel

@{
    ViewBag.Title = "Details";
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index","Devis")>Liste devis</a>
    </li>
    <li class="breadcrumb-item active">Information devis</li>
</ul>

@*Affichage de : "Informations sur <Prénom> <Nom> :"*@
<div class="titrepartie">

    <ul style="list-style: none; display:block; float: right!important; margin-bottom:0;">
        <li>
            <a title="Modifier le devis" href=@Url.Action("Edit", "Devis", new { id = Model.Devis.ID}) class="btn button-orange"><span class="glyphicon glyphicon-pencil" /></a>
            <a title="Imprimer le devis" target="_blank" href=@Url.Action("Print", "Devis", new { id = Model.Devis.ID }) class="btn button-blue"><span class="glyphicon glyphicon-print" /></a>
        </li>
    </ul>
    <h2 style="display:block;" class="titreCRUD">
        Informations sur le devis
    </h2>
</div>
<hr class="separer" />
<br />

@*Div permettant d'afficher les détails du devis*@
<div class="py-5">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                    <p class="lead">Client : @Html.DisplayFor(model => model.EntrepriseID)</p>
                </div>*@
            @*Div permettant d'afficher l'objet du devis*@
            <div class="col-md-6">
                <p class="lead">Objet : @Html.DisplayFor(model => model.Devis.Objet)</p>
            </div>
            @*Div permettant d'afficher la date de création du devis*@
            <div class="col-md-6">
                <p class="lead">Date : @Html.DisplayFor(model => model.Devis.DateString)</p>
            </div>
            @*Div permettant d'afficher si le devis est valide ou non*@
            <div class="col-md-6">
                <p class="lead">Validité : @Html.DisplayFor(model => model.Devis.Valide)</p>
            </div>
            @*Div permettant d'afficher le commentaire lié au devis*@
            <div class="col-md-6">
                <p class="lead">Commentaire : @Html.DisplayFor(model => model.Devis.Commentaire)</p>
            </div>
            @*Div permettant d'afficher la monnaie utilisée par le devis*@
            <div class="col-md-6">
                <p class="lead">Monnaie : @Html.DisplayFor(model => model.Devis.Monnaie)</p>
            </div>
        </div>
    </div>
</div>
