@*Vue permettant d'afficher les détails d'un devis*@
@model WebApplication1.ViewModels.DevisProduitViewModel

@{
    ViewBag.Title = "Details";
    var type = (new WebApplication1.DAL.ApplicationContext()).ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type;
    var isAdmin = type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || type == WebApplication1.Models.Account.TypeUtilisateur.SA;
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index","Devis")>Liste devis</a>
    </li>
    <li class="breadcrumb-item active">Information devis</li>
</ul>

@*Affichage de : "Informations sur <Prénom> <Nom> :"*@
<div class="titrepartie">

    <ul style="list-style: none; display:block; float: right!important; margin-bottom:0;">
        <li>
            <a title="Facturer le devis" href=@Url.Action("Facturer", "Devis", new { id = Model.Devis.ID}) class="btn button-bluedark"><span class="fas fa-cart-arrow-down" /></a>
            <a title="Imprimer le devis" target="_blank" href=@Url.Action("DevisToPdf", "Devis", new { id = Model.Devis.ID }) class="btn button-blue"><span class="glyphicon glyphicon-print" /></a>
            @if (isAdmin)
            {
                <a title="Modifier le devis" href=@Url.Action("Edit", "Devis", new { id = Model.Devis.ID}) class="btn button-orange"><span class="glyphicon glyphicon-pencil" /></a>
            }
        </li>
    </ul>
    <h2 style="display:block;" class="titreCRUD">
        Informations sur le devis
    </h2>
</div>
<hr class="separer" />
<br />


@*Div permettant d'afficher les détails du devis*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Informations création</h2>
    </div>
    <div class="contact">
        @*<div class="contact-item contact-item-large">
            <div class="contact-label">Statut</div>
            <div class="contact-content">Payée</div>
        </div>*@

        <div class="contact-item">
            <div class="contact-label">Créé le</div>
            <div class="contact-content"> @string.Format("{0:dd MMMM yyyy}",Model.Devis.Date) à @string.Format("{0:hh:mm}",Model.Devis.Date)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Objet du devis</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Devis.Objet)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Validité</div>
            <div class="contact-content">
            @{ 
                if (Model.Devis.Valide)
                {
                    <text>Oui</text>
                }
                else
                {
                    <text>Non</text>
                }
            }
            </div>

        </div>

        <div class="contact-item">
            <div class="contact-label">Note</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Devis.Commentaire)</div>
        </div>
    </div>
    <div class="buttons buttons-small"></div>
</div>



@*Div permettant d'afficher les détails du devis*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Detail produits</h2>
    </div>
    <div class="contact"> 

        <div class="contact-item contact-item-large">
            <div class="contact-label">Nom du produit</div>
            <div class="contact-content">Prix HT</div>
        </div>


        @{
          foreach (var p in Model.Devis.Produits)
            {
                <div class="contact-item">
                    <div class="contact-label">@p.Nom</div>
                    <div class="contact-content">@p.PrixHT €</div>
                </div>
            }
            }
    </div>
    <div class="buttons buttons-small"></div>
</div>



@*Div permettant d'afficher les détails du devis*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Detail règlement</h2>
    </div>
    <div class="contact">
        @*<div class="contact-item contact-item-large">
                <div class="contact-label">Statut</div>
                <div class="contact-content">Payée</div>
            </div>*@

        <div class="contact-item">
            <div class="contact-label">Monnaie utilisée</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Devis.Monnaie)</div>
        </div>
        @*calcul du montant total TTC*@
        @{

            double sommeTTC = 0;
            double sommeHT = 0;
            double totalReduc = 0;

            foreach (var p in Model.Devis.Produits)
            {
                double PrixTTC = p.PrixHT + p.PrixHT * p.TVA / 100;
                double reduc = PrixTTC * p.Reduction / 100;
                sommeTTC += PrixTTC * p.Quantite - reduc;
                sommeHT += p.PrixHT * p.Quantite - reduc;
                totalReduc += reduc;
            }
            double totalTaxe = sommeTTC - sommeHT;
        }
        <div class="contact-item">
            <div class="contact-label">Prix total HT</div>
            <div class="contact-content">@string.Format("  {0:F2}", sommeHT) €</div>
        </div>
        <div class="contact-item">
            <div class="contact-label">Prix total TTC</div>
            <div class="contact-content">@string.Format("  {0:F2}", sommeTTC) €</div>
        </div>
        <div class="contact-item">
            <div class="contact-label">Taxe</div>
            <div class="contact-content">@string.Format("  {0:F2}", totalTaxe) €</div>
        </div>
        <div class="contact-item">
            <div class="contact-label">Total réduction</div>
            <div class="contact-content">@string.Format("  {0:F2}", totalReduc) €</div>
        </div>


    </div>
    <button title="Facturer devis" value="Facturer" class="button button-bluedark" onclick="location.href='@Url.Action("Facturer", "Devis", new { id = Model.Devis.ID })'">Facturer</button>
</div>