@model WebApplication1.ViewModels.DevisViewModel

@{
    ViewBag.Title = "Edit";
}

<br />
<p>
    <a title="Retour" href=@Url.Action("Index","Devis") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var cpt = 0;

    <div class="form-horizontal">
        <h4>Devis</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Devis.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Devis.Objet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Devis.Objet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Devis.Objet, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Valide, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Valide)
                        @Html.ValidationMessageFor(model => model.Valide, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Devis.Commentaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Devis.Commentaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Devis.Commentaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Devis.Monnaie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Devis.Monnaie, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Devis.Monnaie, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        @foreach (var item in Model.Produits)
        {
            cpt++;
            <div class="form-group">
                <label class="control-label col-md-2">@item.Text</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantite[cpt - 1], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantite[cpt - 1], "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @*<div class="form-group">
            @Html.LabelFor(model => model.EntrepriseID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntrepriseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntrepriseID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder" class="btn btn-default btn-primary" />
                <button type="reset" value="facturer" onclick="location.href='@Url.Action("Facturer", "Devis",new { id = Model.Devis.ID })'" class="btn btn-default btn-secondary">Facturer</button>
            </div>
        </div>
    </div>
}
