@model PagedList.IPagedList<WebApplication1.Models.Papiers.Devis>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Devis";
}

<h2>
    Vos Devis
</h2>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Devis", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Devis")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Devis")'" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>
                <li>
                    <button type="reset" value="cancel" title="Créer un Nouveau Devis" onclick="location.href='@Url.Action("Create", "Devis")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<table class="table">
    <tr>
        <th>Objet</th>
        <th>Date</th>
        <th>Valide</th>
        @*<th>Commentaire</th>
        <th>Monnaie</th>*@
        <th>Produits</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valide)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monnaie)
        </td>*@
        <td>
            @foreach ( var a in item.Produits)
            {
                @Html.DisplayFor(elt => a.Nom); <i>=></i>
                @Html.DisplayFor(elt => a.Quantite); <br />
            }
        </td>
        <td>
            <a title="Modifier" href=@Url.Action("Edit", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-pencil" />
            </a>
            <a title="Imprimer" href=@Url.Action("Details", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-print" />
            </a>
            <a title="Supprimer" href=@Url.Action("Delete", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-trash" />
            </a>
        </td>
    </tr>
    }
</table>

<br />

@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))
    </div>
}