@model IEnumerable<WebApplication1.Models.Papiers.Devis>
@{
    ViewBag.Title = "Devis";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse ">
            <form class="navbar-form navbar-left" method="get" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" value="@ViewData[" currentFilter"]">
                </div>
                <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                <button asp-action="Index" type="submit" value="cancel" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li><a>Date</a></li>
                        <li><a asp-action="Index" asp-route-sortOrder="@ViewData[" NameSortParm"]" asp-route-currentFilter="@ViewData[" CurrentFilter"]">Nom</a></li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>
                <li>
                    <a href=@Url.Action("Create", "Devis") class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monnaie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntrepriseID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monnaie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntrepriseID)
        </td>
        <td>
            <a href=@Url.Action("Edit", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-pencil" />
            </a>
            <a href=@Url.Action("Details", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-print" />
            </a>
            <a href=@Url.Action("Delete", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-trash" />
            </a>
        </td>
    </tr>
    }
</table>