@model IEnumerable<WebApplication1.Models.Papiers.Devis>

@{
    ViewBag.Title = "Devis";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Devis", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" onclick="location.href='@Url.Action("Index", "Devis")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>
                <li>
                    <button type="reset" value="cancel" onclick="location.href='@Url.Action("Create", "Devis")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monnaie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntrepriseID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monnaie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntrepriseID)
        </td>
        <td>
            <a href=@Url.Action("Edit", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-pencil" />
            </a>
            <a href=@Url.Action("Details", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-print" />
            </a>
            <a href=@Url.Action("Delete", "Devis", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-trash" />
            </a>
        </td>
    </tr>
    }
</table>