@*Vue permettant l'affichage des devis de l'utilisateur*@
@model PagedList.IPagedList<WebApplication1.Models.Papiers.Devis>

@{
    Layout = null;
    ViewBag.Title = "ListtoPdf";
    var type = (new WebApplication1.DAL.ApplicationContext()).ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <img src="~/image/logo.png" />
    <h2 class="titreIndex">
        Vos Devis
    </h2>
    @*Affichage de la liste des devis*@
    <table class="table">
        <tr>
            <th>@Html.LabelFor(Model => Model.First().Identifiant)</th>
            @if (type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || type == WebApplication1.Models.Account.TypeUtilisateur.SA)
            {
                <th>Client</th>
            }
            else
            {
                <th>Fournisseur</th>
            }
            <th>@Html.LabelFor(Model => Model.First().Date)</th>
            <th>@Html.LabelFor(Model => Model.First().Etat)</th>
            @*<th>Commentaire</th>
                <th>Monnaie</th>*@
            <th>@Html.LabelFor(Model => Model.First().Produits)</th>
            <th><label>Total TTC</label></th>
            <th></th>
        </tr>
        @*Pour chaque devis, affichage de l'objet, de la date de création, et de la validité*@
        @*En plus, ajouter à droite de chaque devis 3 boutons permettant de modifier, afficher les détails et supprimer le devis*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identifiant)
                </td>
                <td>
                    @if (type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || type == WebApplication1.Models.Account.TypeUtilisateur.SA)
                    {
                        @Html.DisplayFor(modelItem => item.ClientID)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UtilisateurID)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateString)
                </td>
                <td>
                    @if (item.Etat == WebApplication1.Models.Papiers.EtatDevis.EnCours)
                    {
                        <p style="color: blue">En cours</p>
                    }
                    else if (item.Etat == WebApplication1.Models.Papiers.EtatDevis.Facturé)
                    {
                        <p style="color: #06d6a0">Facturé</p>

                    }
                    else
                    {
                        <p style="color: red">Rejeté</p>
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Commentaire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monnaie)
                    </td>*@
                <td>
                    @foreach (var a in item.Produits)
                    {
                        @Html.DisplayFor(elt => a.Nom); <i>=></i>
                        @Html.DisplayFor(elt => a.Quantite); <br />
                    }
                </td>
                <td>
                    @{
                        double somme = 0;
                        foreach (var p in item.Produits)
                        {
                            somme += p.TotalTTC * p.Quantite;
                        }
                        <p>@string.Format("  {0:F2}", somme) €</p>
                    }
                </td>
            </tr>
        }
    </table>
    <br />
</body>
</html>