@model WebApplication1.Models.Papiers.DevisViewModel
@{
    ViewBag.Title = "Devis";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var cpt = 0;
    <table class="table">
        @foreach (var item in Model.Produits)
        {
            cpt++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(modelItem => modelItem.Quantite, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(modelItem => modelItem.Quantite[cpt-1], new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(modelItem => modelItem.Quantite[cpt - 1], "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Quantite" class="btn btn-default" />
        </div>
    </div>
}
