@*Vue permettant la modification des données du client*@
@model WebApplication1.Models.Entite.Entreprise

@{
    ViewBag.Title = "Edit";
}

<br />
<p>
    @*Bouton de retour*@
    <a href=@Url.Action("Index","Clients") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</p>

@*Formulaire permettant la modification des données du client*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Modifier Client</h3>
        <hr />
        @*Permet de stocker l'id du client et de pouvoir le réutiliser après sans l'afficher*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        @*Div permettant de modifier le nom de l'entreprise cliente*@
        <div class="form-group">
            @Html.LabelFor(model => model.NomEntreprise)
            @Html.EditorFor(model => model.NomEntreprise, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.NomEntreprise, "", new { @class = "text-danger" })
        </div>

        @*Div permettant de modifier le nom du contact dans l'entreprise cliente*@
        <div class="form-group">
            @Html.LabelFor(model => model.NomContact)
            @Html.EditorFor(model => model.NomContact, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.NomContact, "", new { @class = "text-danger" })
        </div>

        @*Div permettant de modifier l'adresse e-mail de l'entreprise cliente*@
        <div class="form-group">
            @Html.LabelFor(model => model.Mail)
            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
        </div>

        @*Bouton permettant de valider la modification des données*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-secondary" />
            </div>
        </div>
    </div>
}