@model IEnumerable<WebApplication1.Models.Client>

@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li><a href="#">Date</a></li>
                            <li><a href="#">Nom</a></li>
                            <li><a href="#">Nb factures</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=@Url.Action("Create", "Clients") class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-plus" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br/>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteWeb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentaire)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>