@*Vue permettant l'affiche de la liste de tous les clients de l'utilisateur*@
@model PagedList.IPagedList<WebApplication1.Models.Entite.Entreprise>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Clients";
}

@*Navbar permettant de trier et de faire une recherche sur la liste des clients.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" onclick="location.href='@Url.Action("Index", "Clients")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Clients")'" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                </div>
            }
        </form>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>

                @*Bouton permettant d'accéder à la page de création d'un client*@
                <li>
                    <button type="reset" value="cancel" onclick="location.href='@Url.Action("Create", "Clients")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br />

@*Affichage de la liste des clients*@
<table class="table">
    <tr>
        <th>Nom de l'entreprise</th>
        <th>Nom du contact</th>
        <th>Mail</th>
        <th></th>
    </tr>
    @*Pour chaque client, affichage du nom de l'entreprise, du nom du contact, et de l'adresse e-mail*@
    @*En plus, ajouté à droite de chaque client 3 boutons permettant de modifier, afficher les détails et supprimer le client*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEntreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            @*<td>
                @if (item.Mail.IsEmpty())
                {
                    <p id="italie">pas de mail</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Mail)
                }
            </td>*@

            <td>
                <a href=@Url.Action("Edit", "Clients", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" />
                </a>
                <a href=@Url.Action("Details", "Clients", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-print" />
                </a>
                <a href=@Url.Action("Delete", "Clients", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-trash" />
                </a>
            </td>
        </tr>
    }
</table>

<br />

@*Partie permettant d'afficher et de se diriger sur les différentes pages s'il y en a plusieurs*@
@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))
    </div>
}