@*Vue permettant l'affichage des feedbacks envoyés aux administrateurs*@
@model PagedList.IPagedList<WebApplication1.Models.Account.Feedback>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Feedback";
}

<h2 class="titreIndex">
    Les Feedbacks
</h2>

@*Navbar permettant de trier et de faire une recherche sur la liste des feedbacks.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Feedbacks", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "recherche par sujet" })
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Feedbacks")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Feedbacks")'" class="btn btn-default">Avancée</button>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li style="background-color: white;">@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li style="background-color: white;">@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li style="background-color: white;"><a href="#">Nb factures</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />

@*Affichage de la liste des feedbacks*@
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Sujet</th>
        <th>Commentaire</th>
        <th>IsResolved</th>
        <th></th>
    </tr>
    @*Pour chaque feedback, affichage du nom de l'utilisateur, de son identifiant, du sujet du feedback, du commentaire lui étant lié et de son état*@
    @*En plus, ajouté à droite de chaque devis 3 boutons permettant de modifier l'état, afficher les détails et supprimer le feedback*@
    @foreach (var item in Model)
    {
        <tr>
            @*Affichage du nom de l'utilisateur ayant envoyé le feedback*@
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>

            @*Affichage de l'identifiant de l'utilisateur ayant envoyé le feedback*@
            <td>
                @Html.DisplayFor(modelItem => item.UtilisateurID)
            </td>

            @*Affichage du sujet du feedback*@
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            @*Affichage du commentaire lié au feedback*@
            <td>
                <p>@Html.Raw(HttpUtility.HtmlDecode(item.Comment))</p>
                @*@Html.DisplayFor(modelItem => item.Comment)*@
            </td>

            @*Affichage de l'état du feedback*@
            <td>
                @item.IsResolved
            </td>
            <td>
                <a title="Check" href=@Url.Action("Check", "Feedbacks", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-check" />
                </a>
                <a title="Imprimer" href=@Url.Action("Details", "Feedbacks", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-print" />
                </a>
                <a title="Supprimer" href=@Url.Action("Delete", "Feedbacks", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-trash" />
                </a>
            </td>
        </tr>
    }
</table>

<br />

@*Partie permettant d'afficher et de se diriger sur les différentes pages s'il y en a plusieurs*@
@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
                             new
                             {
                                 page,
                                 sortOrder = ViewBag.CurrentSort,
                                 currentFilter = ViewBag.CurrentFilter
                             }))
    </div>
}