@model PagedList.IPagedList<WebApplication1.Models.Compte.Feedback>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Feedback";
}

<h2>
    Les Feedbacks
</h2>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Feedbacks", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Feedbacks")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Feedbacks")'" class="btn btn-default">avancee</button>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Comment</th>
        <th>Etat</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                <a title="Imprimer" href=@Url.Action("Details", "Feedbacks", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-print" />
                </a>
                <a title="Supprimer" href=@Url.Action("Delete", "Feedbacks", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-trash" />
                </a>
            </td>
        </tr>
    }
</table>

<br />

@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
         new
         {
             page,
             sortOrder = ViewBag.CurrentSort,
             currentFilter = ViewBag.CurrentFilter
         }))
    </div>
}