@*Vue permettant de supprimer un produit*@
@model WebApplication1.Models.Papiers.Produit

@{
    ViewBag.Title = "Delete";
}

<br />
<p>
    @*Bouton de retour*@
    <a title="Retour" href=@Url.Action("Index","Produits") class="btn btn-secondary btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</p>

@*Div permettant d'afficher les détails et de supprimer le produit*@
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6 card">
                <h3>Etes vous sûr de vouloir supprimer ce produit ?</h3>
                <div>
                    <hr />

                    @*Affichage des détails du produit avant sa suppression*@
                    <dl class="dl-horizontal">

                        @*Affichage du Libelle*@
                        <dt>
                            @Html.DisplayNameFor(model => model.Libelle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Libelle)
                        </dd>

                        @*Affichage du commentaire*@
                        <dt>
                            @Html.DisplayNameFor(model => model.Commentaire)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Commentaire)
                        </dd>

                        @*Affichage du prix hors taxes*@
                        <dt>
                            @Html.DisplayNameFor(model => model.PrixHT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrixHT)
                        </dd>
                        
                        @*Affichage du montant de la réduction*@
                        <dt>
                            @Html.DisplayNameFor(model => model.Reduction)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reduction)
                        </dd>

                        @*Affichage du taux de TVA*@
                        <dt>
                            @Html.DisplayNameFor(model => model.TVA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TVA)
                        </dd>

                        @*Affichage du type (bien ou service)*@
                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                    </dl>


                    @*Bouton permettant de valider la suppression du produit*@
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input style="display:block;margin:auto" type="submit" value="Delete" class="btn btn-default btn-danger" />
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>
</div>
