@*Vue permettant d'afficher les détails d'un produit*@
@model WebApplication1.Models.Papiers.Produit

@{
    ViewBag.Title = "Details";
    var type = (new WebApplication1.DAL.ApplicationContext()).ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type;
    var isAdmin = type == WebApplication1.Models.Account.TypeUtilisateur.Administrateur || type == WebApplication1.Models.Account.TypeUtilisateur.SA;
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index", "Produits")>Liste produits</a>
    </li>
    <li class="breadcrumb-item active">Informations produit</li>
</ul>

@*Affichage de : "Informations sur <Prénom> <Nom> :"*@
<div class="titrepartie">

    <ul style="list-style: none; display:block; float: right!important; margin-bottom:0;">
        <li>
            @if (isAdmin)
            {
                <a title="Modifier le produit" href=@Url.Action("Edit", "Produits", new { id = Model.ID}) class="btn button-orange"><span class="glyphicon glyphicon-pencil" /></a>
            }
            <a title="Imprimer le produit" target="_blank" href=@Url.Action("Print", "Produits", new { id = Model.ID }) class="btn button-blue"><span class="glyphicon glyphicon-print" /></a>
        </li>
    </ul>
    <h2 style="display:block;" class="titreCRUD">
        Informations sur le produit
    </h2>
</div>
<hr class="separer" />
<br />

@*Div permettant d'afficher les détails du Facture*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Informations produit</h2>
    </div>
    <div class="contact">
        <div class="contact-item">
            <div class="contact-label">Libellé</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Libelle)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Note</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Commentaire)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Type</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Type)</div>
        </div>
    </div>
</div>


@*Div permettant d'afficher les détails du Facture*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Tarif produit</h2>
    </div>
    <div class="contact">
        <div class="contact-item">
            <div class="contact-label">Prix unitaire HT</div>
            <div class="contact-content">@Html.DisplayFor(model => model.PrixHT) €</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">TVA</div>
            <div class="contact-content">@Html.DisplayFor(model => model.TVA) %</div>
        </div>

        @{ 
            var prixTTC = Model.PrixHT + Model.PrixHT * Model.TVA / 100;
            prixTTC = prixTTC - prixTTC * Model.Reduction / 100;
        }

        <div class="contact-item">
            <div class="contact-label">Réduction</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Reduction) %</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Prix unitaire TTC</div>
            <div class="contact-content">@String.Format("  {0:F2}", prixTTC) €</div>
        </div>
    </div>
</div>