@*Vue permettant d'afficher les détails d'un produit*@
@model WebApplication1.Models.Papiers.Produit

@{
    ViewBag.Title = "Details";
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index", "Produits")>Liste produits</a>
    </li>
    <li class="breadcrumb-item active">Informations produit</li>
</ul>

@*Affichage du Libelle*@
<h2 class="titreCRUD">@Html.DisplayFor(model => model.Libelle)</h2>
<hr class="separer" />
<br />

<p>
    @*Bouton de modification*@
    <a href=@Url.Action("Edit","Produits",new { id = Model.ID }) class="btn btn-secondary btn-lg">
        <span class="glyphicon glyphicon-pencil" />
    </a>
    <a title="Imprimer" target="_blank" href=@Url.Action("Print", "Produits", new { id = Model.ID }) class="btn btn-info btn-lg">Imprimer</a>
</p>

<div>
    <dl class="dl-horizontal">

        @*Affichage du commentaire*@
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        @*Affichage du prix hors taxes*@
        <dt>
            @Html.DisplayNameFor(model => model.PrixHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixHT)
        </dd>

        @*Affichage de la réduction*@
        <dt>
            @Html.DisplayNameFor(model => model.Reduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reduction)
        </dd>

        @*Affichage du taux de TVA du produit*@
        <dt>
            @Html.DisplayNameFor(model => model.TVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVA)
        </dd>

        @*Affichage du type du produit (bien / service)*@
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>