@model WebApplication1.Models.Papiers.Produit

@{
    ViewBag.Title = "Details";
}

<br />
<p>
    <a title="Retour" href=@Url.Action("Index","Produits") class="btn btn-secondary btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
    <a href=@Url.Action("Edit","Produits",new { id = Model.ID }) class="btn btn-secondary btn-lg">
        <span class="glyphicon glyphicon-pencil" />
    </a>
</p>

<h2>@Html.DisplayFor(model => model.Nom)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>