@*Vue permettant d'afficher la liste des produits de l'utilisateur*@
@model PagedList.IPagedList<WebApplication1.Models.Papiers.Produit>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Produits";
}

<h2 class="titreIndex">Vos produits</h2>

@*Navbar permettant de trier et de faire une recherche sur la liste des produits.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        @*Formulaire permettant de rechercher un produit*@
        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Produits", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Produits")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Produits")'" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                    <a title="Imprimer la liste des Produits" target="_blank" href=@Url.Action("PrintList", "Produits") class="btn btn-default"><span class="glyphicon glyphicon-print" /></a>
                </div>
            }
        </form>

        @*Div permettant de trier les produits par nom ou prix*@
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default trie">
                        <li>@Html.ActionLink("Nom ↑", "Index", new { sortOrder = "objetAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Nom ↓", "Index", new { sortOrder = "objetZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prix ↑", "Index", new { sortOrder = "prixFaibleFort", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prix ↓", "Index", new { sortOrder = "prixFortFaible", searchString = ViewBag.CurrentFilter as string })</li>
                    </ul>
                </li>

                @*Bouton permettant d'accéder à la page de création d'un produit*@
                <li>
                    <button type="reset" value="cancel" title="Créer un Nouveau Produit" onclick="location.href='@Url.Action("Create", "Produits")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />

@*Affichage de la liste des produits*@
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Commentaire</th>
        <th>PrixHT</th>
        @*<th>Reduction</th>
            <th>TVA</th>*@
        <th>Type</th>
        <th></th>
    </tr>

    @*Pour chaque produit, afficher son libelle, commentaire, prix hors taxes /*, réduction, taux de TVA*/ , et type*@
    @*En plus, à droite de chaque produit, affichage de 3 boutons permettant de modifier, afficher les détails, ou supprimer le produit*@
    @foreach (var item in Model)
    {
        <tr>
            @*Affichage du libelle*@
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>

            @*Affichage du commentaire*@
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>

            @*Affichage du prix hors taxes*@
            <td>
                @Html.DisplayFor(modelItem => item.PrixHT) €
            </td>

            @*Affichage de la réduction*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Reduction)
                </td>

                Affichage du taux de TVA
                <td>
                    @Html.DisplayFor(modelItem => item.TVA)
                </td>*@

            @*Affichage du type (bien / service)*@
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            @*Affichage des boutons*@
            <td>
                <a title="Modifier" href=@Url.Action("Edit", "Produits", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" />
                </a>
                <a title="Imprimer" href=@Url.Action("Details", "Produits", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-file" />
                </a>
                <a title="Imprimer le Produit" target="_blank" href=@Url.Action("Print", "Produits", new { id = item.ID }) class="btn btn-info"><span class="glyphicon glyphicon-print" /></a>
                <a title="Supprimer" href=@Url.Action("Delete", "Produits", new { id = item.ID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-trash" />
                </a>
            </td>
        </tr>
    }

</table>


<br />

@*Partie permettant d'afficher et de se diriger sur les différentes pages s'il y en a plusieurs*@
@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
              new
              {
                  page,
                  sortOrder = ViewBag.CurrentSort,
                  currentFilter = ViewBag.CurrentFilter,

              }))
    </div>
}