@model IEnumerable<WebApplication1.Models.Papiers.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Vos Produits</h2>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <button type="reset" value="cancel" title="Créer un Nouveau Produit" onclick="location.href='@Url.Action("Create", "Produits")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
</nav>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a title="Modifier" href=@Url.Action("Edit", "Produits", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-pencil" />
            </a>
            <a title="Imprimer" href=@Url.Action("Details", "Produits", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-print" />
            </a>
            <a title="Supprimer" href=@Url.Action("Delete", "Produits", new { id = item.ID }) class="btn btn-info">
                <span class="glyphicon glyphicon-trash" />
            </a>
        </td>
    </tr>
}

</table>
