@*Vue permettant d'afficher les détails d'un produit*@
@model WebApplication1.Models.Papiers.Produit

@{
    Layout = null;
    var type = (new WebApplication1.DAL.ApplicationContext()).ObtenirUtilisateur(System.Web.HttpContext.Current.User.Identity.Name).Type;
    ViewBag.Title = "PDF Produit";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @*Icône de l'application*@
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body style="background-color:white;">
    <!--<img src="@Model.UrlImage" alt="Image du produit" style="max-width: 50%" />-->

    <div class="section">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="section-header">
                            <h2 class="section-title">Informations produit</h2>
                        </div>
                        <div class="contact">
                            <div class="contact-item">
                                <div class="contact-label">@Html.LabelFor(m => m.Libelle)</div>
                                <div class="contact-content">@Html.DisplayFor(model => model.Libelle)</div>
                            </div>

                            <div class="contact-item">
                                <div class="contact-label">@Html.LabelFor(m => m.Détails)</div>
                                <div class="contact-content">@Html.DisplayFor(model => model.Détails)</div>
                            </div>

                            @if (type != WebApplication1.Models.Account.TypeUtilisateur.Administrateur)
                            {
                                <div class="contact-item">
                                    <div class="contact-label"><label>Créé par</label></div>
                                    <div class="contact-content">@Html.DisplayFor(model => model.UtilisateurID)</div>
                                </div>
                            }

                            <div class="contact-item">
                                <div class="contact-label">@Html.LabelFor(m => m.Type)</div>
                                <div class="contact-content">@Html.DisplayFor(model => model.Type)</div>
                            </div>

                            <div class="contact-item">
                                <div class="contact-label">@Html.LabelFor(m => m.OtherInfo)</div>
                                @if (String.IsNullOrWhiteSpace(Model.OtherInfo))
                                {
                                    <div class="contact-content">
                                        Aucune
                                    </div>
                                }
                                else
                                {
                                    <div class="contact-content">
                                        @Html.DisplayFor(model => model.OtherInfo)
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    @*Div permettant d'afficher les détails du Facture*@
    <div class="section">
        <div class="section-header">
            <h2 class="section-title">Tarif produit</h2>
        </div>
        <div class="contact">
            <div class="contact-item">
                <div class="contact-label"><strong>Prix unitaire HT</strong></div>
                <div class="contact-content">@Html.DisplayFor(model => model.PrixHT) €</div>
            </div>

            <div class="contact-item">
                <div class="contact-label">@Html.LabelFor(m => m.TVA)</div>
                <div class="contact-content">@Html.DisplayFor(model => model.TVA) %</div>
            </div>

            <div class="contact-item">
                <div class="contact-label">@Html.LabelFor(m => m.Reduction)</div>
                <div class="contact-content">@Html.DisplayFor(model => model.Reduction) %</div>
            </div>

            <div class="contact-item">
                <div class="contact-label"><strong>Prix unitaire TTC</strong></div>
                <div class="contact-content">@String.Format("  {0:F2}", Model.TotalTTC) €</div>
            </div>
        </div>
    </div>
</body>
</html>