@*Vue permettant d'afficher les détails d'une facture*@
@model WebApplication1.Models.Papiers.Facture

@{
    ViewBag.Title = "Details";
}

<br />
<p>
    @*Bouton de retour*@
    <a title="Retour" href=@Url.Action("Index","Factures") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</p>

@*Div permettant l'affichage des détails de la facture*@
<div>
    <h2>Facture</h2>
    <hr />
    <dl class="dl-horizontal">
        @*Affichage de l'objet*@
        <dt>
            @Html.DisplayNameFor(model => model.Objet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objet)
        </dd>

        @*Affichage de la date de création*@
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @*Affichage du commentaire lié à la facture*@
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        @*Affichage de la monnaie utilisée par la facture*@
        <dt>
            @Html.DisplayNameFor(model => model.Monnaie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monnaie)
        </dd>

        @*Affichage de l'identifiant de l'utilisateur ayant créer le devis/ la facture*@
        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurID)
        </dd>

        @*Affichage du nombre de relances ayant été effectuées.*@
        <dt>
            @Html.DisplayNameFor(model => model.Relances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relances)
        </dd>

        @*Affichage de la méthode de règlement utilisée pour la facture*@
        <dt>
            @Html.DisplayNameFor(model => model.Reglement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reglement)
        </dd>

    </dl>
</div>

@*Bouton permettant de relancer la facture*@
<a href=@Url.Action("Relancer", "Factures", new { id = Model.ID }) class="btn btn-secondary">Relancer</a>
