@model PagedList.IPagedList<WebApplication1.Models.Papiers.Facture>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Facture";
}

<h2>
    Facture
</h2>


<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Factures", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" onclick="location.href='@Url.Action("Index", "Factures")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
                        <li>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li><a href="#">Nb factures</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<table class="table">
    <tr>
        <th>Objet</th>
        <th>Date</th>
        <th>Commentaire</th>
        <th>Monnaie</th>
        <th>Articles</th>
        <th>EntrepriseID</th>
        <th>Relances</th>
        <th>Reglement</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monnaie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntrepriseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reglement)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />

@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
         new
         {
             page,
             sortOrder = ViewBag.CurrentSort,
             currentFilter = ViewBag.CurrentFilter
         }))
    </div>
}