@*Vue permettant l'affichage des factures de l'utilisateur*@
@model PagedList.IPagedList<WebApplication1.Models.Papiers.Facture>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Facture";
}

<h2 class="titreIndex">
    Vos factures
</h2>


@*Navbar permettant de trier et de faire une recherche sur la liste des factures.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Factures", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" title="Recherche Basique" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" title="Annuler la Recherche" value="cancel" onclick="location.href='@Url.Action("Index", "Factures")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Factures")'" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                    <a title="Imprimer la liste des Factures" target="_blank" href=@Url.Action("PrintList", "Factures") class="btn btn-default"><span class="glyphicon glyphicon-print" /></a>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default trie">
                        <li>@Html.ActionLink("Objet ↑", "Index", new { sortOrder = "objetAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Objet ↓", "Index", new { sortOrder = "objetZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Date ↑", "Index", new { sortOrder = "dateNewOld", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Date ↓", "Index", new { sortOrder = "dateOldNew", searchString = ViewBag.CurrentFilter as string })</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />

@*Affichage de la liste des factures*@
<table class="table">
    <tr>
        <th>Objet</th>
        <th>Date</th>
        @*<th>Commentaire</th>
            <th>Monnaie</th>*@
        <th>Produits</th>
        <th>Relances</th>
        <th>Reglement</th>
        <th></th>
    </tr>

    @*Pour chaque facture, affichage de l'objet, de la date de création, de la liste des produits(et de leur quantité), du nombre de relances et du type de règlement*@
    @*En plus, ajouté à droite de chaque devis 3 boutons permettant de modifier, afficher les détails et supprimer le devis*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a title="Détails" href=@Url.Action("Details", "Factures", new { id = item.ID }) class="detail">
                    @Html.DisplayFor(modelItem => item.Objet)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Commentaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monnaie)
                </td>*@
            <td>
                @foreach (var a in item.Produits)
                {
                    @Html.DisplayFor(elt => a.Nom); <i>=></i>
                    @Html.DisplayFor(elt => a.Quantite); <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reglement)
            </td>
            <td>
                <a title="Imprimer la Facture" target="_blank" href=@Url.Action("Print", "Factures", new { id = item.ID }) class="btn btn-info"><span class="glyphicon glyphicon-print" /></a>
            </td>
        </tr>
    }

</table>

<br />

@*Partie permettant d'afficher et de se diriger sur les différentes pages s'il y en a plusieurs*@
@if (!Model.PageCount.Equals(1))
{
    <div class="text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
                   new
                   {
                       page,
                       sortOrder = ViewBag.CurrentSort,
                       currentFilter = ViewBag.CurrentFilter
                   }))
    </div>
}