@model WebApplication1.Models.Utilisateur

@{
    ViewBag.Title = "Connexion";
}

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Connexion</legend>
            <div>
                @Html.LabelFor(model => model.Identifiant)
                @Html.TextBoxFor(model => model.Identifiant)
                @Html.ValidationMessageFor(model => model.Identifiant)
            </div>

            <div>
                @Html.LabelFor(model => model.MotDePasse)
                @Html.PasswordFor(model => model.MotDePasse)
                @Html.ValidationMessageFor(model => model.MotDePasse)
            </div>
            <br />
            <input type="submit" value="Se Connecter" />
        </fieldset>
    }
</div>