@*Vue permettant la suppression d'un utilisateur*@
@model WebApplication1.Models.Account.Utilisateur
@{
    ViewBag.Title = "Delete";
}

@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index", "Utilisateurs")>Liste utilisateurs</a>
    </li>
    <li class="breadcrumb-item active">Supprimer utilisateur</li>
</ul>

<h3>Voulez-vous vraiment supprimer cet utilisateur ?</h3>

@*Div permettant d'afficher les détails de l'utilisateurs*@
<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">

        @*Afficage de l'identifiant (adresse e-mail) de l'utilisateur allant être supprimé*@
        <dt>
            @Html.LabelFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        @*Affichage du mot de passe (crypté) de l'utilsateur allant être supprimé*@
        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>
    </dl>

    @*Bouton permettant de valider la suppression de l'utilissateur*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
