@*Vue permettant d'afficher les détails d'un utilisateurs*@

@model WebApplication1.Models.Account.Utilisateur
@{
    ViewBag.Title = "Details";
}



@*Chemin de retour*@
<ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
    <li class="breadcrumb-item">
        <a href=@Url.Action("Index", "Utilisateurs")>Liste utilisateurs</a>
    </li>
    <li class="breadcrumb-item active">Informations utilisateur</li>
</ul>

@*Affichage de : "Informations sur <Prénom> <Nom> :"*@
<div class="titrepartie">

    <ul style="list-style: none; display:block; float: right!important; margin-bottom:0;">
        <li>
            <a href=@Url.Action("Edit", "Utilisateurs", new { id = Model.ID.Replace('.', '~') }) class="btn button-orange"><span class="glyphicon glyphicon-pencil" /></a>
            <a title="Imprimer l'utilisateur" target="_blank" href=@Url.Action("Print", "Utilisateurs", new { id = Model.ID.Replace('.', '~') }) class="btn button-blue"><span class="glyphicon glyphicon-print" /></a>
        </li>
    </ul>
    <h2 style="display:block;" class="titreCRUD">
        Informations sur @Html.DisplayFor(model => model.Prénom) @Html.DisplayFor(model => model.Nom)
    </h2>
</div>
<hr class="separer" />
<br />


@*Div permettant d'afficher les détails du Facture*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Informations utilisateur</h2>
    </div>
    <div class="contact">
        <div class="contact-item">
            <div class="contact-label">Nom</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Nom)</div>
        </div>
    </div>

    <div class="contact-item">
        <div class="contact-label">Prénom</div>
        <div class="contact-content">@Html.DisplayFor(model => model.Prénom)</div>
    </div>
    <div class="contact-item">
        <div class="contact-label">Civilité</div>
        <div class="contact-content">@Html.DisplayFor(model => model.Civilite)</div>
    </div>

    <div class="contact-item">
        <div class="contact-label">Statut</div>
        <div class="contact-content">@Html.DisplayFor(model => model.Type)</div>
    </div>
</div>

@*Div permettant d'afficher les détails du Facture*@
<div class="section">
    <div class="section-header">
        <h2 class="section-title">Informations contact</h2>
    </div>
    <div class="contact">
        @*<div class="contact-item contact-item-large">
                <div class="contact-label">Statut</div>
                <div class="contact-content">Payée</div>
            </div>*@
        <div class="contact-item">
            <div class="contact-label">Mail</div>
            <div class="contact-content">@Html.DisplayFor(model => model.ID)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Adresse</div>
            <div class="contact-content">@ViewBag.lieu.Adresse</div>
        </div>

        @if (ViewBag.lieu.Complement == "")
            {
            @*Affichage du type de l'utilisateur*@
            <div class="contact-item">
                <div class="contact-label">Adresse</div>
                <div class="contact-content">@ViewBag.lieu.Complement</div>
            </div>
        }

        <div class="contact-item">
            <div class="contact-label">Code postal</div>
            <div class="contact-content">@ViewBag.lieu.CodePostal</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Ville</div>
            <div class="contact-content">@ViewBag.lieu.Ville</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Pays</div>
            <div class="contact-content">@ViewBag.lieu.Pays</div>
        </div>
        
        <br />
        <div class="contact-item contact-item-large">
            <div class="contact-label">Préfixe</div>
            <div class="contact-content">Numéro</div>
        </div>

        @foreach (var t in Model.Telephones)
        {
            <div class="contact-item">
                <div class="contact-label">@t.Préfixe</div>
                <div class="contact-content">@t.Numéro</div>
            </div>
        }
    </div>
</div>