@*Vue permettant à un administrateur d'afficher la liste de tous les utilisateurs de l'application*@
@model IEnumerable<WebApplication1.Models.Account.Utilisateur>


@{
    ViewBag.Title = "Utilisateurs";
}

<h2 class="titreIndex">
    Utilisateurs
</h2>

@*Navbar permettant de trier et de faire une recherche sur la liste des devis.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Devis", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Adresse e-mail", @class = "searchBar" })
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Utilisateurs")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="avancée();" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                    <a title="Imprimer la liste des utilisateurs" target="_blank" href=@Url.Action("PrintList", "Utilisateurs") class="btn btn-default"><span class="glyphicon glyphicon-print" /></a>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default trie">
                        <li>@Html.ActionLink("Mail ↑", "Index", new { sortOrder = "mailAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Mail ↓", "Index", new { sortOrder = "mailZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Nom ↑", "Index", new { sortOrder = "nomAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Nom ↓", "Index", new { sortOrder = "nomZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prénom ↑", "Index", new { sortOrder = "prénomAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prénom ↓", "Index", new { sortOrder = "prénomZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Type ↑", "Index", new { sortOrder = "typeAdmin", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Type ↓", "Index", new { sortOrder = "typeBasique", searchString = ViewBag.CurrentFilter as string })</li>
                    </ul>
                </li>

                @*Bouton permettant d'accéder à la page de création d'un Utilisateur*@
                <li>
                    <button type="reset" value="cancel" title="Créer un nouveau Utilisateur" onclick="location.href='@Url.Action("Create", "Utilisateurs")'" class="btn  button-green"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<p class="text-danger">@ViewBag.erreurMessage</p>

@*Affichage de la liste des utilisateurs*@
<table class="table">
    @using (Html.BeginForm("RechercheAvancee", "Utilisateurs", FormMethod.Get))
    {
        <tr id="listAvancée" style="display: none">
            <th>
                <input type="text" name="Nom" placeholder="Nom" class="searchBar" value="" />
            </th>
            <th>
                <input type="text" name="Prénom" placeholder="Prénom" class="searchBar" value="" />
            </th>
            <th>
                <input type="text" name="Mail" placeholder="Mail" class="searchBar" value="" />
            </th>
            <th>
                <input type="text" name="Type" placeholder="Type" class="searchBar" value="" />
            </th>
            <th>
                <button type="submit" value="Search" class="btn button-bluedark">
                    <span class="glyphicon glyphicon-search" />
                </button>
            </th>
        </tr>
    }
    @*Affichage de l'entête de chaque colonne dans le tableau*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prénom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @*Pour chaque utilisateur, afficher son identifiant (adresse e-mail), mot de passe (crypté), prénom, nom, type*@
    @*En plus, à droite de chaque utilisateur, affichage de 3 boutons permettant de modifier, afficher les détails et supprimer l'utilisateur*@
    @foreach (var item in Model)
    {
        if (item.Type != WebApplication1.Models.Account.TypeUtilisateur.SA)
        {
            <tr>
                @*Affichage du nom de l'utilisateur*@
                <td>
                    <a class="detail" href=@Url.Action("Details", "Utilisateurs", new { id = item.ID.Replace('.', '~') })>@Html.DisplayFor(modelItem => item.Nom)</a>
                </td>

                @*Affichage du prénom de l'utilisateur*@
                <td>
                    <a class="detail" href=@Url.Action("Details", "Utilisateurs", new { id = item.ID.Replace('.', '~') })>@Html.DisplayFor(modelItem => item.Prénom)</a>
                </td>

                @*Affichage de l'identifiant (adresse e-mail) de l'utilisateur*@
                <td>
                    <a class="detail" href=@Url.Action("Details", "Utilisateurs", new { id = item.ID.Replace('.', '~') })>@Html.DisplayFor(modelItem => item.ID)</a>
                </td>

                @*Affichage du type de l'utilisateur*@
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

                @*Boutons permettant la modification, l'affichage des détails, et la suppression de l'utilisateur*@
                <td>
                    <a title="Consulter" href=@Url.Action("Details", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn button-fluo">
                        <span class="glyphicon glyphicon-file" />
                    </a>
                    <a title="Modifier l'utilisateur" href=@Url.Action("Edit", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn button-orange">
                        <span class="glyphicon glyphicon-pencil" />
                    </a>
                    <a title="Imprimer l'utilisateur" target="_blank" href=@Url.Action("Print", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn button-blue"><span class="glyphicon glyphicon-print" /></a>
                    <button title="Supprimer l'utilisateur'" class="btn button-delete deleteButton" onclick='togglePopup("@item.Nom", "@item.Prénom", "@item.ID")'>
                        <span class="glyphicon glyphicon-trash" />
                    </button>
                </td>
            </tr>
        }
    }
</table>



<div class="popup">
    <div class="popDisplay">
        <!-- popup content start || copy this to the end of the file-->
        <div class="popupWindow">
            <div class="popupDiv">
                <div style="display:flex;"><p class="confirm-message text-lg">Voulez-vous vraiment supprimer &nbsp;</p> <p class="text-lg" id="popup_txt_nom"></p><p class="text-lg">&nbsp;</p><p class="text-lg" id="popup_txt_prenom"></p><p class="text-lg">&nbsp; ?</p></div>
                <div class="buttons">
                    <form method="post" id="formUser">
                        @Html.AntiForgeryToken()
                        <button class="button button-green button-confirm">Confimer</button>
                    </form>
                    <button class="button button-delete button-cancel" type="button">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>  <!-- popup content ends -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".button-confirm").click(function () {
            $(".popup").fadeOut(600);
        });

        $(".button-cancel").click(function () {
            $(".popup").fadeOut(600);
        });
    });

    function togglePopup(nom, prenom, id) {
        $(".popup").fadeIn(600);
        document.getElementById("popup_txt_nom").innerHTML = nom;
        document.getElementById("popup_txt_prenom").innerHTML = prenom;
        document.getElementById("formUser").action = "/Utilisateurs/Delete/" + id.replace(/\./g, "~");
    }
</script>