@*Vue permettant à un administrateur d'afficher la liste de tous les utilisateurs de l'application*@
@model IEnumerable<WebApplication1.Models.Account.Utilisateur>


@{
    ViewBag.Title = "Utilisateurs";
}

<h2 class="titreIndex">
    Utilisateurs
</h2>

@*<p>
        <a href=@Url.Action("Create", "Utilisateurs") class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus" />
        </a>
    </p>*@

@*Navbar permettant de trier et de faire une recherche sur la liste des devis.*@
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <form class="navbar-form navbar-left" method="get" role="search">
            @using (Html.BeginForm("Index", "Devis", FormMethod.Get))
            {
                <div class="form-group">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <button type="submit" value="Search" title="Recherche Basique" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="reset" value="cancel" title="Annuler la Recherche" onclick="location.href='@Url.Action("Index", "Utilisateurs")'" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="reset" value="a" title="Recherche Avancée" onclick="location.href='@Url.Action("Index", "Utilisateurs")'" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
                    <a title="Imprimer la liste des utilisateurs" target="_blank" href=@Url.Action("PrintList", "Utilisateurs") class="btn btn-default"><span class="glyphicon glyphicon-print" /></a>
                </div>
            }
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-bottom:5px;padding-top:5px;" data-toggle="dropdown">Trier par<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-default trie">
                        <li>@Html.ActionLink("Mail ↑", "Index", new { sortOrder = "mailAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Mail ↓", "Index", new { sortOrder = "mailZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Nom ↑", "Index", new { sortOrder = "nomAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Nom ↓", "Index", new { sortOrder = "nomZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prénom ↑", "Index", new { sortOrder = "prénomAZ", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Prénom ↓", "Index", new { sortOrder = "prénomZA", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Type ↑", "Index", new { sortOrder = "typeAdmin", searchString = ViewBag.CurrentFilter as string })</li>
                        <li>@Html.ActionLink("Type ↓", "Index", new { sortOrder = "typeBasique", searchString = ViewBag.CurrentFilter as string })</li>
                    </ul>
                </li>

                @*Bouton permettant d'accéder à la page de création d'un Utilisateur*@
                <li>
                    <button type="reset" value="cancel" title="Créer un nouveau Utilisateur" onclick="location.href='@Url.Action("Create", "Utilisateurs")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

@*Affichage de la liste des utilisateurs*@
<table class="table">
    @*Affichage de l'entête de chaque colonne dans le tableau*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prénom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @*Pour chaque utilisateur, afficher son identifiant (adresse e-mail), mot de passe (crypté), prénom, nom, type*@
    @*En plus, à droite de chaque utilisateur, affichage de 3 boutons permettant de modifier, afficher les détails et supprimer l'utilisateur*@
    @foreach (var item in Model)
    {
        <tr>
            @*Affichage du nom de l'utilisateur*@
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>

            @*Affichage du prénom de l'utilisateur*@
            <td>
                @Html.DisplayFor(modelItem => item.Prénom)
            </td>

            @*Affichage de l'identifiant (adresse e-mail) de l'utilisateur*@
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>

            @*Affichage du type de l'utilisateur*@
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            @*Boutons permettant la modification, l'affichage des détails, et la suppression de l'utilisateur*@
            <td>
                <a title="Modifier l'utilisateur" href=@Url.Action("Edit", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" />
                </a>
                <a title="Détails de l'utilisateur'" href=@Url.Action("Details", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn btn-info">
                    <span class="glyphicon glyphicon-file" />
                </a>
                <a title="Imprimer l'utilisateur" target="_blank" href=@Url.Action("Print", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn btn-info"><span class="glyphicon glyphicon-print" /></a>
                 <button title="Supprimer l'utilisateur'" class="btn btn-info deleteButton" onclick='togglePopup("@item.Nom", "@item.ID")'>
                    <span class="glyphicon glyphicon-trash" />
                </button>
                @*<a title="Supprimer l'utilisateur'" href=@Url.Action("Delete", "Utilisateurs", new { id = item.ID.Replace('.', '~') }) class="btn btn-info">
                    <span class="glyphicon glyphicon-trash" />
                </a>*@
            </td>
        </tr>
    }
</table>



<div class="popup">
    <div class="popDisplay">
        <!-- popup content start || copy this to the end of the file-->
        <div class="popupWindow">
            <p class="popup_txt">
                Supprimer définitivement :
            </p>
            <p class="popup_txt" id="popup_txt"></p>
            <div class="popup_img">
                <form class="col-md-6" method="post" id="formUser">
                    @Html.AntiForgeryToken()
                    <button src="yes.png" class="popup_img_yes">Oui</button>
                    <input value="Delete" type="hidden"/>
                </form>
                <button src="no.png" class="popup_img_no">Non</button>
            </div>
        </div>
    </div>
</div>  <!-- popup content ends -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".popup_img_yes").click(function () {
            $(".popup").fadeOut(600);
        });

        $(".popup_img_no").click(function () {
            $(".popup").fadeOut(600);
        });
    });

    function togglePopup(name, id) {
        $(".popup").fadeIn(600);
        document.getElementById("popup_txt").innerHTML = name;
        document.getElementById("formUser").action = "/Utilisateurs/Delete/" + id.replace(/\./g, "~");
    }
</script>