@*Vue permettant d'afficher les détails d'un utilisateurs*@
@model WebApplication1.Models.Account.Utilisateur
@{
    Layout = null;
    ViewBag.Title = "UtilisateurToPdf";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @*Icône de l'application*@
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>

<body style="background-color:white;">
    <div class="section">
        <div class="section-header">
            <h2 class="section-title">Informations utilisateur</h2>
        </div>
        <div class="contact">
            <div class="contact-item">
                <div class="contact-label">Nom</div>
                <div class="contact-content">@Html.DisplayFor(model => model.Nom)</div>
            </div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Prénom</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Prénom)</div>
        </div>
        <div class="contact-item">
            <div class="contact-label">Civilité</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Civilite)</div>
        </div>

        <div class="contact-item">
            <div class="contact-label">Statut</div>
            <div class="contact-content">@Html.DisplayFor(model => model.Type)</div>
        </div>
    </div>

    @*Div permettant d'afficher les détails du Facture*@
    <div class="section">
        <div class="section-header">
            <h2 class="section-title">Informations contact</h2>
        </div>
        <div class="contact">
            @*<div class="contact-item contact-item-large">
                    <div class="contact-label">Statut</div>
                    <div class="contact-content">Payée</div>
                </div>*@
            <div class="contact-item">
                <div class="contact-label">Mail</div>
                <div class="contact-content">@Html.DisplayFor(model => model.ID)</div>
            </div>

            <div class="contact-item">
                <div class="contact-label">Adresse</div>
                <div class="contact-content">@ViewBag.lieu.Adresse</div>
            </div>

            @if (ViewBag.lieu.Complement == "")
            {
                @*Affichage du type de l'utilisateur*@
                <div class="contact-item">
                    <div class="contact-label">Adresse</div>
                    <div class="contact-content">@ViewBag.lieu.Complement</div>
                </div>
            }

            <div class="contact-item">
                <div class="contact-label">Code postal</div>
                <div class="contact-content">@ViewBag.lieu.CodePostal</div>
            </div>

            <div class="contact-item">
                <div class="contact-label">Ville</div>
                <div class="contact-content">@ViewBag.lieu.Ville</div>
            </div>

            <div class="contact-item">
                <div class="contact-label">Pays</div>
                <div class="contact-content">@ViewBag.lieu.Pays</div>
            </div>

            <br />
            <div class="contact-item contact-item-large">
                <div class="contact-label">Préfixe</div>
                <div class="contact-content">Numéro</div>
            </div>

            @foreach (var t in Model.Telephones)
            {
                <div class="contact-item">
                    <div class="contact-label">@t.Préfixe</div>
                    <div class="contact-content">@t.Numéro</div>
                </div>
            }
        </div>
    </div>
</body>
</html>