@*Vue permettant d'afficher les détails d'un utilisateurs*@
@model WebApplication1.Models.Account.Utilisateur
@{
    Layout = null;
    ViewBag.Title = "UtilisateurToPdf";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @*Icône de l'application*@
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>

<body>
    @*Affichage de : "Informations sur <Prénom> <Nom> :"*@
    <h3 class="">Informations sur @Html.DisplayFor(model => model.Prénom) @Html.DisplayFor(model => model.Nom) :</h3>
    <br />
    <br />
    @*Affichages des informations de l'utilsateur*@
    <div class="py-5">
        <div class="container">
            <div class="row">

                @*Affichage de l'identifiant (adresse e-mail) de l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Mail : @Html.DisplayFor(model => model.ID)</p>
                </div>
                @*Affichage du prénom de l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Prénom : @Html.DisplayFor(model => model.Prénom)</p>
                </div>
                @*Affichage du nom de l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Nom : @Html.DisplayFor(model => model.Nom)</p>
                </div>
                @*Affichage du type de l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Vous êtes @Html.DisplayFor(model => model.Type)</p>
                </div>
                @*Affichage du nombre de devis réalisés par l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Vous avez réalisé @ViewBag.NbDevis devis.</p>
                </div>
                @*Affichage du nombre de factures réalisés par l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Vous avez facturé @ViewBag.NbFactures devis.</p>
                </div>
                @*Affichage du nombre de produits possédant l'utilisateur*@
                <div class="col-xs-6">
                    <p class="lead">Vous avez une liste de @ViewBag.NbProduits produits.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>