@model WebApplication1.ViewModels.UtilisateurViewModel

@{
    ViewBag.Title = "Récupération";
}

<p>
    <a href=@Url.Action("Index","Login") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" /> Accueil
    </a>
</p>
<h2>Récupération du mot de passe réussie</h2>

@using (Html.BeginForm())
{
    <div>
        <h1>Bravo !</h1>
        @Html.HiddenFor(m => m.Utilisateur.Mail)


        @Html.LabelFor(m => m.Utilisateur.Mail)
        @Html.DisplayFor(m => m.Utilisateur.Mail)
    </div>
    <div>
        <h3>Saisir votre nouveau mot de passe :</h3>
        @Html.LabelFor(m => m.motDePasse)
        @Html.PasswordFor(m => m.motDePasse)
        @Html.ValidationMessageFor(m => m.motDePasse)
    </div>
    <input type="submit" class="btn btn-secondary" value="Valider" formaction="ChangePassword" />
}
