@*Vue permettant à un utilisateur de s'inscrire*@
@model WebApplication1.ViewModels.UtilisateurViewModelConnection

@{
    ViewBag.Title = "Inscription";
}
<link rel="stylesheet" href="~/Content/theme.css">

@*Formulaire permettant à l'utilisateur de saisir toutes ses informationss*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //Navbar permettant d'accéder à la page de connexion, ou à la page d'accueil
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href=@Url.Action("Index","Home")>Easy Bill</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href=@Url.Action("Index","Login")>Se connecter</a>
                    </li>
                </ul>
                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Home")>Accueil</a>
            </div>
        </div>
    </nav>


    @* ------------------------------------------------------------------------------------------------------------------------------------------------ *@
    // Div permettant à l'utilisateur de saisir ses informations personnels
    <div style="padding-top: 8.5rem !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="book">
                    <div class="card">
                        <div class="card-body p-5">
                            <h4 class="pb-3">S'inscrire</h4>
                            <form>
                                @*Div permettant de saisir l'identifiant (adresse e-mail) de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Utilisateur.ID)
                                    @Html.EditorFor(model => model.Utilisateur.ID, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Utilisateur.ID, "", new { @class = "text-danger" })
                                </div>

                                @*Div permettant de saisir le mot de passe de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.motDePasse)
                                    @Html.PasswordFor(model => model.motDePasse, new { @class = "form-control my-2", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.motDePasse, "", new { @class = "text-danger" })
                                </div>

                                @*Div permettant de confirmer le mot de passe de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.confirmation, htmlAttributes: new { @class = "control-label" })*
                                    @Html.PasswordFor(model => model.confirmation, new { @class = "form-control my-2", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.confirmation, "", new { @class = "text-danger" })
                                </div>

                                @*Div permettant de saisir le nom de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Utilisateur.Nom, htmlAttributes: new { @class = "control-label" })*
                                    @Html.EditorFor(model => model.Utilisateur.Nom, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                </div>

                                @*Div permettant de saisir le prénom de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Utilisateur.Prénom, htmlAttributes: new { @class = "control-label" })*
                                    @Html.EditorFor(model => model.Utilisateur.Prénom, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                </div>

                                @*Div permettant de saisir le type de l'utilisateur (basique / admin)*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Utilisateur.Type, htmlAttributes: new { @class = "control-label" })*
                                    @Html.EnumDropDownListFor(x => x.Utilisateur.Type, new { @class = "form-control my-2" })
                                </div>

                                @*Div permettant de saisir le téléphone de l'utilisateur*@
                                <div>
                                    @*<h2>Téléphones</h2>*@

                                    @*Div permettant de saisir le numéro de téléphone de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Utilisateur.Telephones.First().Numéro, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Utilisateur.Telephones.First().Numéro, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>

                                    @*Div permettant de saisir le préfixe du téléphone de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Utilisateur.Telephones.First().Préfixe, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Utilisateur.Telephones.First().Préfixe, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>

                                    @*Div permettant de saisir le type du téléphone de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Utilisateur.Telephones.First().Type, htmlAttributes: new { @class = "control-label" })*<br /><br />
                                        @Html.EnumDropDownListFor(x => x.Utilisateur.Telephones.First().Type, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })<br /><br />
                                    </div>
                                </div>

                                @*Div permettant de saisir le lieu de l'utilisateur*@
                                <div>
                                    @*<h2>Lieu</h2>*@

                                    @*Div permettant de saisir l'adresse du lieu de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lieu.Adresse, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Lieu.Adresse, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>

                                    @*Div permettant de saisir le complément du lieu de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lieu.Complement, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Lieu.Complement, new { htmlAttributes = new { @class = "form-control my-2" } })
                                    </div>

                                    @*Div permettant de saisir le code postal du lieu de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lieu.CodePostal, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Lieu.CodePostal, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>

                                    @*Div permettant de saisir la ville du lieu de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lieu.Ville, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Lieu.Ville, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>

                                    @*Div permettant de saisir le pays du lieu de l'utilisateur*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lieu.Pays, htmlAttributes: new { @class = "control-label" })*
                                        @Html.EditorFor(model => model.Lieu.Pays, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })
                                    </div>
                                </div>

                                @*Div permettant de saisir la civilité de l'utilisateur*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Utilisateur.Civilite, htmlAttributes: new { @class = "control-label" })*<br /><br />
                                    @Html.EnumDropDownListFor(x => x.Utilisateur.Civilite, new { htmlAttributes = new { @class = "form-control my-2", @required = "required" } })<br /><br />
                                </div>

                                @*Div permettant à l'utilisateur de saisir des informations supplémentaires*@
                                <div class="form-group">
                                    Autres informations* <br />
                                    @Html.TextAreaFor(model => model.Utilisateur.otherInfo, new { @class = "form-control my-2" })
                                </div>

                                <p>(*) : Champs obligatoires</p>
                                @*Bouton permettant de s'inscrire lorsque tous les champs ont été saisis*@
                                <button type="submit" class="btn btn-secondary my-2">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>


                @*Div permettant d'afficher quelques informations concernant l'application*@
                <div class="align-self-center col-md-6">
                    <h1 class="text-center text-md-left display-3">Inscrivez-vous</h1>
                    <p>L'inscription est gratuite.</p>
                </div>
            </div>
        </div>
    </div>}
