@model WebApplication1.ViewModels.UtilisateurViewModel
@{
    ViewBag.Title = "Connexion";
}
<br />
@{ string motDePasse = ViewBag.motDePasse; }
@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec l'adresse e-mail :
        @Model.Utilisateur.ID
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    using (Html.BeginForm())
    {
        <link rel="stylesheet" href="~/Content/theme.css">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href=@Url.Action("Index","Home")>Easy Bill</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                    <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index", "Home")>Accueil</a>
                </div>
            </div>
        </nav>

        <div class="gradientrose">
            <br />
            <div class="py-5 text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @if (ViewBag.erreur != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Warning !</strong> @ViewBag.erreur
                                </div>
                            }

                            <h1>Connectez-vous</h1>
                            <p class="text-white">Nous sommes ravis de vous revoir</p>

                            <form>
                                <div class="form-group">
                                    <label for="InputName">Votre mail</label>
                                    @Html.TextBoxFor(m => m.Utilisateur.ID, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Utilisateur.ID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail1">Votre mot de passe</label>
                                    @Html.PasswordFor(model => model.motDePasse, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
                                </div>
                                @* À remettre lorsque la récupération du mot de passe refonctionnera (par mail avec la tâche d'Aurélien) *@
                                @*@Html.ActionLink("Mot de passe oublié ?", "RecoverMDP", "Login", null, new { @class = "my-3 text-white" })<br />*@
                                <button type="submit" class="btn btn-secondary my-2">Connection</button>
                            </form>
                        </div><div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h1>Inscrivez-vous</h1>
                            <p class="text-white">Vous n'avez pas de compte ? Inscrivez-vous !</p>
                            <form>
                                <button type="button" onclick="location.href='@Url.Action("CreateUser", "Login")'" class="btn btn-secondary my-2">Inscription</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-5 text-white text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>S'abonner à la Newsletter</h1>
                            <p class="lead mb-4">Recevez tous les mois les actualités d'Easy Bill.</p>
                            <form class="form-inline justify-content-center">
                                <div class="input-group my-1">
                                    <input type="text" class="form-control mr-3 my-1" placeholder="Votre mail" id="inlineFormInputGroup">
                                </div>
                                <button type="submit" class="btn btn-secondary">S'abonner</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
}