@model WebApplication1.Models.Compte.UtilisateurViewModel

@{
    ViewBag.Title = "Connexion";
}
<br />
@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Utilisateur.Identifiant
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Utilisateur.Identifiant)
            @Html.TextBoxFor(m => m.Utilisateur.Identifiant, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(m => m.Utilisateur.Identifiant, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Utilisateur.MotDePasse)
            @Html.PasswordFor(m => m.Utilisateur.MotDePasse, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
        </div>
        <input type="submit" class="btn btn-secondary" value="Valider" />
    }
    @Html.ActionLink("Mot de passe oublié ?", "RecoverMDP")
    <br />
    @Html.ActionLink("S'inscrire", "CreateUser")
}