@model WebApplication1.Models.Account.Utilisateur

@{
    ViewBag.Title = "Récupération";
}


@using (Html.BeginForm())
{

    <link rel="stylesheet" href="~/Content/theme.css">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href=@Url.Action("Index","Home")>Easy Bill</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href=@Url.Action("Index","Login")>Se connecter</a>
                    </li>
                </ul>
                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Home")>Accueil</a>
            </div>
        </div>
    </nav>


    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6">
                    <div class="card p-5">
                        <div class="card-body">
                            <h1 class="mb-4">Récupération du mot de passe</h1>
                            <form>
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.LabelFor(m => m.Question) <br />
                                    @Html.DisplayFor(m => m.Question)
                                    <br />
                                    @Html.LabelFor(m => m.Réponse)<br />
                                    @Html.TextBoxFor(m => m.Réponse)<br />
                                    @Html.ValidationMessageFor(m => m.Réponse) <br />
                                </div>
                                <input type="submit" class="btn btn-secondary" value="Valider" formaction="VérifierRéponse" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}